.about {
  display: flex;
  justify-content: space-between;
}

.about__item {
  display: block;
  width: 100%;
}

.about__header {
  margin-bottom: getRem(30);
}

.about__text {
  background-image: url('../images/rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: getRem(60) getRem(50) getRem(40) getRem(50);
}

.about__img {
  background-image: url('../images/photo_about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about__detail {
  text-transform: uppercase;
  margin-top: getRem(40);
  display: inline-block;
  text-decoration: underline;
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .about__item {
    display: none;
  }

  .about__item:first-child {
    display: block;
  }
  .about__text {
    padding: getRem(25) getRem(15);
  }
}
