.about {
  display: flex;
  justify-content: space-between;
}

.about__item {
  display: block;
  width: 100%;
}

.about__text {
  background-image: url('../images/rectangle.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.about__img {
  background-image: url('../images/photo_about.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.about__detail {
  text-transform: uppercase;
}

@media screen and (max-width: map-get($breakpoints, sm)) {
  .about__item {
    display: none;
  }

  .about__item:first-child {
    display: block;
  }
}
