.btn {
  font-weight: 400;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: .75rem 1.3rem;
  line-height: 1.5;
  cursor: pointer;
  outline: none;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
}

.btn-icon {
  padding: .75rem .9rem;
}

.btn-outline-primary {
  color: $blue;
  border: 1px solid $blue;
  background-color: transparent;
  &:hover  {
    background-color: $blue-hover;
    color: $white;
    border: 1px solid $blue-hover;
  }
  &:active {
    background-color: $blue;
  }
}

.btn-outline-secondary {
  color: $white;
  border: 1px solid $white;
  background-color: transparent;
  &:hover  {
    background-color: $white;
    color: $gray-600;
    border: 1px solid $white;
  }
  &:active {
    background-color: $white;
  }
}

.btn-primary {
  border: 1px solid transparent;
  background: linear-gradient(249.3deg, #282696 0%, #{$blue} 100%);
  color: $white;
  &:hover {
    background: linear-gradient(249.3deg, #282696 0%, #{$blue-hover} 100%);
  }
}

.btn-outline-primary:hover .btn__icon-compare {
  background-image: url('../images/icon_compare-white.svg');
}

.btn__icon-compare {
  display: inline-block;
  height: .9rem;
  width: .9rem;
  vertical-align: text-bottom;
  background-image: url('../images/icon_compare.svg');
  background-size: cover;
  background-position: center;
}

.btn-fill-icon {
  width: getRem(14);
  height: getRem(14);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.btn-sub-icon {
  width: getRem(14);
  height: getRem(14);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin-right: .5rem;
}

.icon__check {
  background-image: url(../images/icon__check.svg);
}

.icon__arrow-right {
  background-image: url(../images/icon__arrow-right.svg);
  vertical-align: middle;
}
