footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: $gray-600;
  color: white;
  justify-content: space-around;
}

.footer__block {
  padding: 2rem;
}

.footer__brand {
  display: flex;
  align-items: center;
  span {
    font-weight: bold;
    margin-left: 1rem;
  }
}

.footer__year {
  display: block;
  color: $white;
  margin-top: 1rem;
}

.footer__list-header {
  font-weight: 400;
}

.footer__list {
  margin: 1rem 0 0 3rem;
}

.footer__list-link {
  color: $white;
  line-height: 1.5rem;
  &:hover {
    color: $gray-300;
  }
}
