.nav-icon {
  font-size: getRem(12);
  font-weight: 600;
  color: $gray-300;
  &:hover {
    color: $purple;
  }
  &:before {
    display: inline-block;
    width: getRem(16);
    height: getRem(16);
    margin-right: getRem(10);
    vertical-align: middle;
    content: '';
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.static-icon {
  display: inline-block;
  width: getRem(40);
  height: getRem(25);
  margin-right: getRem(10);
  vertical-align: middle;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.static-icon__card-mir {
  background-image: url('../images/icon_card_mir.png');
}
.static-icon__card-visa {
  background-image: url('../images/icon_card_visa.png');
}
.static-icon__card-mastercard {
  background-image: url('../images/icon_card_mastercard.png');
}
.static-icon__card-maestro {
  background-image: url('../images/icon_card_maestro.png');
}

.nav-icon__poor-vision {
  &:before {
    background-image: url('../images/icon_eye.svg');
  }
  &:hover:before {
    background-image: url('../images/icon_eye-blue.svg');
  }
}

.nav-icon__comparison {
  &:before {
    background-image: url('../images/icon_bars_graphic.svg');
  }
  &:hover:before {
    background-image: url('../images/icon_bars_graphic-blue.svg');
  }
}

.nav-icon__instagram {
  &:before {
    background-image: url('../images/icon_instagram.svg');
  }
  &:hover:before {
    background-image: url('../images/icon_instagram-blue.svg');
  }
}

.nav-icon__twitter {
  &:before {
    background-image: url('../images/icon_twitter.svg');
  }
  &:hover:before {
    background-image: url('../images/icon_twitter-blue.svg');
  }
}

.nav-icon__vk {
  &:before {
    background-image: url('../images/icon_vk.svg');
  }
  &:hover:before {
    background-image: url('../images/icon_vk-blue.svg');
  }
}
