.nav-header {
  margin-top: 1rem;
  position: relative;
}

.nav-header__primary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: getRem(60);
}

.nav-header__logo-block {
  display: flex;
  align-items: center;
  width: getRem(135);
  justify-content: space-between;
}

.nav-header__menu-toggler {
  display: none;
  height: 12px;
  width: 20px;
  cursor: pointer;
  background-image: url('../images/icon_menu_collapsed.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-header__logo {
  height: 54px;
  width: 216px;
}

.nav-header__search-input {
  padding-bottom: .4rem;
  padding-right: 1rem;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: $gray-100;
  outline: none;
  box-sizing: border-box;
}

.nav-header__search-input-wrapper {
  position: relative;
}

.nav-header__icon-lens {
  height: getRem(16);
  width: getRem(16);
  background-image: url('../images/icon-lens.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: .4rem;
}

.nav-header__navbar {
  margin-bottom: getRem(50);
}

.login-block {
  display: flex;
  align-items: flex-start;
}

.login-block__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: $gray-600;
  padding-right: 20px;
  border: solid;
  border-width: 0 1px 0 0;
  border-color: $gray-100;
  &:last-child {
    padding-left: 20px;
    padding-right: 0px;
    border: none;
  }
  &:hover .login-block__text {
    text-decoration: underline;
  }
}

.login-block__icon {
  margin-right: getRem(12);
  width: getRem(21);
  height: getRem(21);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.login-block__text {
  font-weight: 400;
  font-size: getRem(14);
}

.secondary-nav__item {
  cursor: pointer;
  color: $gray-600;
  padding: 0px 20px;
  border: solid;
  border-width: 0 0 0 1px;
  border-color: $gray-100;
  &:first-child {
    padding: 0px 20px 0px 0px;
    border: none;
  }
  &:last-child {
    border-width: 0 0 0 1px;
    padding: 0px 0px 0px 20px;
  }
  &:hover .secondary-nav__text {
    text-decoration: underline;
  }
}

.nav-header__secondary-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: getRem(60);
}

.secondary-nav {
  display: flex;
  align-items: center;
}


.secondary-nav__link {
  font-size: getRem(12);
  font-weight: 400;
  color: $gray-300;
  &:hover {
    color: $blue;
  }
}

@media (max-width: map-get($breakpoints, xl)) {
  .nav-header__secondary-header,
  .login-block__collapsed,
  .nav-header__telephone {
    display: none;
  }

  .login-block__item {
    border: none;
    &:last-child {
      padding: 0;
    }
  }

  .nav-header__search {
    order: 3;
    width: 100%;
    margin-top: getRem(20);
  }

  .nav-header__search-input {
    width: 100%;
  }

  .nav-header__primary-header {
    flex-wrap: wrap;
  }

  .nav-header__logo {
    height: getRem(27);
    width: getRem(100);
  }

  .nav-header__menu-toggler {
    display: block;
  }

  .nav-header__primary-header {
    margin-bottom: 1rem;
  }

  .nav-header__navbar {
    position: absolute;
    width: 100%;
    background-color: white;
  }
}
