.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.navbar__link {
  font-weight: 400;
  display: block;
  cursor: pointer;
  &:hover {
    color: $blue-hover;
  }
}

.navbar__link-active {
  color: $blue;
}
