.navbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
}

.navbar__link {
  font-weight: 400;
  display: block;
  cursor: pointer;
  &:hover {
    color: $blue-hover;
  }
}

.navbar__link-active {
  color: $blue;
}

@media (max-width: map-get($breakpoints, xl)) {
  .navbar {
    flex-direction: column;
  }

  .navbar__item {
    &:last-child .navbar__link {
      border: none;
    }
  }
  .navbar__link {
    padding: 12px;
    font-size: getRem(16);
    width: 100%;
    border: solid;
    border-width: 0 0 1px 0;
    border-color: #F2F2F2;
    text-align: center;
  }

  .navbar-collapse {
    height: 0;
    transition: height .5s;
  }
}
