.popular-products__cards-block {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.popular-products__swiper-wrapper {
  display: flex;
  width: 100%;
}

@mixin popular-products__swiper-btn {
  position: absolute;
  top: 35%;
  background: transparent;
  z-index: 1;
  font-size: .3rem;
  box-shadow: none;
  &:before {
    width: .5rem;
  }
  &:hover {
    background: transparent;
    box-shadow: none;
  }
}

.popular-products__swiper-btn-prev {
  @include popular-products__swiper-btn;
  left: -6px;
}

.popular-products__swiper-btn-next {
  @include popular-products__swiper-btn;
  right: -6px;
}

.popular-products__header-block {
  padding: 15px;
}

.product-card {
  padding: 15px 15px 32px 15px;
  flex-shrink: 0;
  &:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  }
}

.product-card__image-wrapper {
  position: relative;
}

.product-card__marker {
  position: absolute;
  top: 1rem;
  padding: .5rem 1rem;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: .7rem;
}

.product-card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  background: #F2F2F2;
}

.product-card__image {
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card__description {
  display: block;
  height: 2rem;
  margin-top: .75rem;
  padding: 0 .5rem;
  font-size: 1.125rem;
  color: $gray-600;
}

.product-card__price-block {
  display: flex;
  margin-top: 2rem;
  padding: 0 .5rem;
  justify-content: space-between;
  align-items: center;
}

.product-card__new-price {
  color: $blue;
  display: block;
  font-size: getRem(18);
  font-weight: 600;

}

.product-card__old-price {
  display: block;
  color: $gray-300;
  text-decoration: line-through;
  font-size: getRem(14);
}

.product-card__btn-group .btn:first-child {
  margin-right: .2rem;
}
