.popular-goods {
}

.goods-card {
  width: 360px;
  height: 490px;
  padding: 15px;
  &:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  }
}

.goods-card__image {
  height: 330px;
  background: #F2F2F2;
}

.goods-card__description {
  display: block;
  margin-top: .75rem;
  padding: 0 .5rem;
  font-size: 1.125rem;
  color: $gray-600;
}

.goods-card__price-block {
  display: flex;
  margin-top: 2rem;
  padding: 0 .5rem;
  justify-content: space-between;
}

.goods-card__prices {
}

.goods-card__new-price {
  display: block;

}

.goods-card__old-price {
  display: block;

}
