.popular-products__cards-block {
  display: flex;
  justify-content: space-between;
}

.popular-products__header-block {
  padding: 15px;
}

.product-card {
  width: 100%;
  min-width: 340px;
  padding: 15px 15px 32px 15px;
  &:hover {
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
  }
}

.product-card__image-wrapper {
  position: relative;
}

.product-card__marker {
  position: absolute;
  top: 1rem;
  padding: .5rem 1rem;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: .7rem;
}

.product-card__image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 330px;
  background: #F2F2F2;
}

.product-card__image {
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card__description {
  display: block;
  height: 2rem;
  margin-top: .75rem;
  padding: 0 .5rem;
  font-size: 1.125rem;
  color: $gray-600;
}

.product-card__price-block {
  display: flex;
  margin-top: 2rem;
  padding: 0 .5rem;
  justify-content: space-between;
  align-items: center;
}

.product-card__new-price {
  color: $blue;
  display: block;
  font-size: 1.125rem;

}

.product-card__old-price {
  display: block;
  color: $gray-300;
  text-decoration: line-through;
  font-size: .85rem;
}

.product-card__btn-group .btn:first-child {
  margin-right: .5rem;
}

@media (min-width: 0px) {
  .product-card {
    display: none;
  }
  .product-card:first-child {
    display: block;
  }
}

@media (min-width: map-get($breakpoints, md)) {
  .product-card {
    display: none;
  }
  .product-card:nth-child(-n+2) {
    flex-wrap: nowrap;
    display: block;
    width: 100%;
  }
}

@media (min-width: map-get($breakpoints, xl)) {
  .product-card {
    display: none;
  }
  .product-card:nth-child(-n+3) {
    flex-wrap: nowrap;
    display: block;
    width: 100%;
  }
}

@media (min-width: map-get($breakpoints, xxl)) {
  .product-card {
    display: none;
  }
  .product-card:nth-child(-n+4) {
    flex-wrap: nowrap;
    display: block;
    width: 100%;
  }
}
