.promo {
  display: flex;
}

.promo__item-left {
  width: 100%;
}

.promo__item-right {
  overflow: hidden;
  width: 120%;
}

.promo__swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.promo__swiper-slide {
  flex-shrink: 0;
  height: 100%;
}

.promo__text-item {
  height: 100%;
  width: 100%;
  background-image: url('../images/rectangle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: getRem(160) getRem(50) getRem(50) getRem(90);
  box-sizing: border-box;
}

.promo__text {
  display: block;
  margin-top: 26px;
}

.promo__btn {
  margin-top: 23px;
  padding: getRem(16) getRem(36);
  text-transform: uppercase;
}

.promo__img-item {
  height: 100%;
  width: 100%;
  background-image: url('../images/promo_01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-controls {
  margin-top: getRem(100);
}

.carousel-controls__btn {
  margin: 0 getRem(9);
  height: getRem(18);
  width: getRem(18);
  background: transparent;
  border: getRem(1) solid $white;
  border-radius: getRem(9);
  cursor: pointer;
  &:hover {
    background: $white;
    opacity: .5;
  }
}

.carousel-controls__btn-active {
  background: $white;
  &:hover {
    opacity: 1;
  }
}

@media screen and (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
  .promo__item-right {
    width: 100%;
  }
  .promo__text-item {
    padding: getRem(90) getRem(40) getRem(40) getRem(50);
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .promo__item-right, .carousel-controls {
    display: none;
  }

  .promo__text-item {
    padding: getRem(30) getRem(30) getRem(25) getRem(30);
  }
}
