.promo {
  display: flex;
  position: relative;
}

@mixin promo__swiper-btn {
  position: absolute;
  top: 50%;
  background: transparent;
  z-index: 1;
  font-size: .3rem;
  box-shadow: none;
  &:before {
    width: .5rem;
  }
  &:hover {
    background: transparent;
    box-shadow: none;
  }
}

.promo__swiper-btn-prev {
  @include promo__swiper-btn;
  left: 0;
}

.promo__swiper-btn-next {
  @include promo__swiper-btn;
  right: 0;
}

.promo__item-left {
  width: 100%;
}

.promo__item-right {
  overflow: hidden;
  width: 120%;
    @media screen and (max-width: map-get($breakpoints, md)) {
      display: none;
    }
    @media screen and (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
      width: 100%;
    }
}

.promo__swiper-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}

.promo__swiper-slide {
  flex-shrink: 0;
  height: 100%;
}

.promo__text-item {
  height: 100%;
  width: 100%;
  background-image: url('../images/rectangle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: getRem(160) getRem(50) getRem(50) getRem(90);
  box-sizing: border-box;
    @media screen and (max-width: map-get($breakpoints, md)) {
      padding: getRem(30) getRem(30) getRem(25) getRem(30);
    }
    @media screen and (min-width: map-get($breakpoints, md)) and (max-width: map-get($breakpoints, lg)) {
      padding: getRem(45) getRem(40) getRem(40) getRem(50);
    }
    @media screen and (min-width: map-get($breakpoints, lg)) and (max-width: map-get($breakpoints, xl)) {
      padding: getRem(100) getRem(40) getRem(40) getRem(50);
    }
}

.promo__text {
  display: block;
  margin-top: 26px;
}

.promo__btn {
  margin-top: 23px;
  margin-bottom: 100px;
  padding: getRem(16) getRem(36);
  text-transform: uppercase;
    @media (min-width: 0) and (max-width: map-get($breakpoints, md)) {
      margin-bottom: 0;
    }
}

.promo__img-item {
  height: 100%;
  width: 100%;
  background-image: url('../images/promo_01.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.carousel-controls {
  position: absolute;
  bottom: getRem(50);
  left: getRem(90);
    @media screen and (max-width: map-get($breakpoints, md)) {
      display: none;
    }
}

.carousel-controls__btn {
  margin: 0 getRem(9);
  height: 10px;
  width: 10px;
  outline: none;
  display: inline-block;
  background: transparent;
  border: getRem(1) solid $white;
  border-radius: getRem(9);
  cursor: pointer;
  &:hover {
    background: $white;
    opacity: .5;
  }
}

.carousel-controls__btn.swiper-pagination-bullet-active {
  background: $white;
  &:hover {
    opacity: 1;
  }
}


