.selection-glasses {
  display: flex;
  justify-content: space-between;
  background: url(../images/rectangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.selection-glasses__item {
  width: 100%;
}

.selection-glasses__text-wrapper {
  padding: 70px 90px;
}

.selection-glasses__text {
  font-size: getRem(18);
  margin-top: 40px;
  line-height: getRem(24);
}

.selection-glasses__btn {
  margin-top: 23px;
  padding: getRem(16) getRem(71);
  text-transform: uppercase;
}

.selection-glasses__img-wrapper {
  padding: 0 50px 50px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.selection-glasses__img {
  background-image: url('../images/promo-glass.png');
  height: 200px;
  width: 500px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .selection-glasses__text-wrapper {
    padding: 30px;
  }

  .selection-glasses {
    flex-direction: column-reverse;
  }

  .selection-glasses__img-wrapper {
    justify-content: start;
    align-items: start;
    padding: 30px 0 0 30px;
  }

  .selection-glasses__img {
    width: 145px;
    height: 50px;
  }

}
