.stocks {
  background-color: darkseagreen;
}

.stocks__block {
  height: 440px;
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.stock {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stock__description-block {
  width: 100%;
  background: linear-gradient(202.4deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%);
  padding: 25px 50px;
}

@media screen and (min-width: map-get($breakpoints, md)) {
  .stocks__block:first-child {
    margin-right: 15px;
  }
  .stocks__block:last-child {
    margin-left: 15px;
  }
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .stocks__block {
    display: none;
  }

  .stocks__block:first-child {
    display: flex;
  }
}
