.stocks {
  background-color: darkseagreen;
}

.stocks__block {
  border: 1px solid black;
  height: 440px;
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 15px);
}

.stock {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stock__description-block {
  width: 100%;
  background: linear-gradient(202.4deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%);
  padding: 25px 50px;
}
