.stocks {
}

.stocks__header-block, .stocks__items-block {
  display: flex;
  justify-content: space-between;
}

.stocks__header-block {
  margin-bottom: getRem(40);
  align-items: center;
}

.stocks__all-stocks-link {
  color: $blue;
  font-size: getRem(18);
}

.stocks__block {
  height: 440px;
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.stocks__block:first-child {
  margin-right: 15px;
}
.stocks__block:last-child {
  margin-left: 15px;
}

.stock {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.stock__description-block {
  width: 100%;
  background: linear-gradient(202.4deg, rgba(40, 38, 150, 0.85) 46.3%, #09ABE4 121.3%);
  padding: getRem(25) getRem(50);
}

.stock__text {
  margin-top: getRem(9);
}

.stock-block__link-detail {
  display: inline-block;
  text-transform: uppercase;
  margin-top: getRem(9);
  text-decoration: underline;
  font-size: getRem(12);
  letter-spacing: 0.05em;
}

@media screen and (max-width: map-get($breakpoints, md)) {
  .stocks__block {
    display: none;
  }

  .stocks__block:first-child {
    display: flex;
    height: 205px;
    margin: 0;
  }

  .stock__description-block {
    padding: getRem(15) getRem(10);
  }
}
