html, body, p, a, span, input, textarea, button {
  font-family: $font-stack;
  font-size: $font-size;
  font-weight: 300;
  font-style: normal;
}

html, body, input, textarea, button, a, p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  color: $gray-300;
  line-height: 1.5rem;
  font-size: $p;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray-600;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
  font-weight: 600;
}

div {
  box-sizing: border-box;
}
