body {
  padding: 0;
  margin: 0;
  font: 100% $font-stack;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  color: $gray-300;
  line-height: 1.5rem;
}

h1 {
  color: $gray-600;
  margin-top: 0;
}

h2 {
  color: $gray-600;
  margin-top: 0;
}

h3 {
  color: $gray-600;
  margin-top: 0;
}
