@media screen and (min-width: map-get($breakpoints, lg)) {
  html {
    font-size: $font-size-lg;
  }
}

@media screen and (min-width: map-get($breakpoints, sm)) and (max-width: map-get($breakpoints, lg)) {
  html {
    font-size: $font-size-md;
  }
}

@media screen and (max-width: map-get($breakpoints, sm)) {
  html {
    font-size: $font-size-sm;
  }
}

html, body, p, a, span, input, textarea, button {
  font-family: $font-stack;
  font-weight: 300;
  font-style: normal;
}


html, body, input, textarea, button, a, p, h1, h2, h3, h4, h5, h6, ul {
  padding: 0;
  margin: 0;
}

a {
  font-size: getRem(14);
  text-decoration: none;
}

p {
  color: $gray-300;
  font-size: $p;
}

h1, h2, h3, h4, h5, h6 {
  color: $gray-600;
}

h1 {
  font-size: $h1;
  font-weight: 600;
}

h2 {
  font-size: $h2;
  font-weight: 600;
}

h3 {
  font-size: $h3;
  font-weight: 600;
}

div {
  box-sizing: border-box;
}
