$white: #ffffff;

$gray-100: #f2f2f2;
$gray-200: #EBEBEB;
$gray-300: #6c757d;
$gray-600: #262626;

$green: #79c79e;

$primary: $green ;

$btn-colors-light: (
  'light': $white,
);

$btn-colors-dark: (
  'success': $primary,
);

$font-stack: Helvetica, sans-serif;
