$white: #ffffff;
$gray-100: #BDBDBD;
$gray-300: #828282;
$gray-600: #333333;
$blue: #09ABE4;
$blue-hover: #0096CB;
$purple: #282696;

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
      url('../fonts/latolight.woff2') format('woff2'),
      url('../fonts/latolight.woff') format('woff'),
      url('../fonts/latolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-Semibold'),
      url('../fonts/latosemibold.woff2') format('woff2'),
      url('../fonts/latosemibold.woff') format('woff'),
      url('../fonts/latosemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

$font-stack: Lato, Helvetica, sans-serif;
$font-size-base: 18;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;

@function getRem($px) {
  @return ($px/$font-size-base) + rem;
}

$h1: getRem(40);
$h2: getRem(30);
$h3: getRem(24);
$p : getRem(18);

$breakpoints: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

