$white: #ffffff;
$gray-100: #BDBDBD;
$gray-300: #828282;
$gray-600: #333333;
$blue: #09ABE4;
$blue-hover: #0096CB;
$purple: #282696;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

$font-size: 16px;
$font-size-int: 16;
$font-stack: Lato, Helvetica, sans-serif;

@function getRem($px) {
  @return ($px/$font-size-int) + rem;
}

$h1: getRem(40);
$h2: getRem(30);

$breakpoints: (
  sm: 760px,
  md: 1120px,
  xl: 1485px,
);

