section(class="about main-section")
  .about__item
    .about__text
      h2.about__header.text-white О компании
      p.about__p.text-white
        | Открытие в 2003 году  ООО” Оптик – Центр” стало большим событием  в оказании  медицинской помощи населению города и предоставило возможность  нашим клиентам проверить зрение без записи и очередей.
      p.about__p.text-white
        | Основным направлением нашей деятельности является оказание качественных услуг по проверке зрения, подбору контактных линз и диагностике заболеваний глаз. Мы  ведем индивидуальную работу с каждым клиентом, независимо от возраста и социального статуса.
      p.about__p.text-white
        | Наши высококвалифицированные  специалисты имеют большой опыт работы в сфере здравоохранения,  решают различные проблемы со зрением, постоянно участвуют в семинарах по современным методам коррекции зрения и  съездах офтальмологов России.
      a(href="#" class="about__detail text-white") подробнее

  .about__item
    .about__img
