doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="description" content="Adaptive html page")
    meta(name="author" content="Zipofar")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title HTML project
  body
    .container
      header
        include nav-header
      main
        include promo
        include selection-glasses
        include popular-products
        include stocks
        include about
      include footer
