section(class="nav-header")
  .nav-header__secondary-header
  .nav-header__primary-header
    .nav-header__logo
    .nav-header__telephone
      h3 (8184) 52-96-33
    .nav-header__search
    .nav-header__login-block
  include navbar
