.navbar
  ul.navbar__list
    li.navbar__item
      a.navbar__link каталог
    li.navbar__item
      a.navbar__link о компании
    li.navbar__item
      a.navbar__link омс
    li.navbar__item
      a.navbar__link.navbar__link-active  акции
    li.navbar__item
      a.navbar__link розничная сеть
    li.navbar__item
      a.navbar__link партнеры
    li.navbar__item
      a.navbar__link контакты
    li.navbar__item
      a.navbar__link подбор очков

