section(class="popular-products")
  .popular-products__header-block
    h2.popular-products__header.text-dark Популярные товары
  .popular-products__cards-block

    .product-card
      .product-card__image-wrapper
        .product-card__marker новинка
        a(href="#" class="product-card__image-link")
          .product-card__image(style="background-image: url(images/prod_01.png)")
      span.product-card__description DAVIDOFF Urban Coolness Sunglasses
      .product-card__price-block
        .product-card__prices
          span.product-card__new-price 14500 руб.
          span.product-card__old-price 15500 руб.
        .product-card__btn-group
          button.btn.btn-outline-primary.btn-icon
            span.icon-compare
          button.btn.btn-outline-primary В КОРЗИНУ

    .product-card
      .product-card__image-wrapper
        a(href="#" class="product-card__image-link")
          .product-card__image(style="background-image: url(images/prod_02.png)")
      span.product-card__description ACUVUE OASYS with HydraLuxe (30 линз)
      .product-card__price-block
        .product-card__prices
          span.product-card__new-price 14500 руб.
        .product-card__btn-group
          button.btn.btn-outline-primary.btn-icon
            span.icon-compare
          button.btn.btn-outline-primary В КОРЗИНУ

    .product-card
      .product-card__image-wrapper
        .product-card__marker новинка<
        a(href="#" class="product-card__image-link")
          .product-card__image(style="background-image: url(images/prod_03.png)")
      span.product-card__description BULGARI NV-2345 Sunglasses
      .product-card__price-block
        .product-card__prices
          span.product-card__new-price 14500 руб.
        .product-card__btn-group
          button.btn.btn-outline-primary.btn-icon
            span.icon-compare
          button.btn.btn-outline-primary В КОРЗИНУ

    .product-card
      .product-card__image-wrapper
        .product-card__marker новинка
        a(href="#" class="product-card__image-link")
          .product-card__image(style="background-image: url(images/prod_01.png)")
      span.product-card__description DAVIDOFF Urban Coolness Sunglasses
      .product-card__price-block
        .product-card__prices
          span.product-card__new-price 14500 руб.
          span.product-card__old-price 15500 руб.
        .product-card__btn-group
          button.btn.btn-outline-primary.btn-icon
            span.icon-compare
          button.btn.btn-outline-primary В КОРЗИНУ
