section(class="promo main-section")
  .promo__item-left
    .promo__text-item
      h1.text-white Новая коллекция солнечных очков
      p.promo__text.text-white Весь ассортимент популярного бренда в нашем интернет-магазине
      a(class="btn btn-outline-secondary promo__btn" href="#") Перейти в каталог
  .promo__item-right
    button.btn.btn-primary.btn-icon.promo__swiper-btn-prev
      |<span class="btn-fill-icon icon__arrow-left-nav"></span>
    button.btn.btn-primary.btn-icon.promo__swiper-btn-next
      |<span class="btn-fill-icon icon__arrow-right-nav"></span>
    .promo__swiper-wrapper.swiper-wrapper
      .swiper-slide.promo__swiper-slide
        .promo__img-item
      .swiper-slide.promo__swiper-slide
        .promo__img-item
      .swiper-slide.promo__swiper-slide
        .promo__img-item
    .carousel-controls
