section(class="promo")
  .promo__text-item
    h1.text-white Новая коллекция солнечных очков
    p.promo__text.text-white Весь ассортимент популярного бренда в нашем интернет-магазине
    a(class="btn btn-outline-primary promo__btn" href="#") Перейти в каталог
  .promo__img-item
