section(class="selection-glasses")

  .selection-glasses__item
    .selection-glasses__text-wrapper
      h2.text-white Подбор очков
      p.selection-glasses__text.text-white Поможем Вам подобрать очки,  с нужными характеристиками из нашего огромного ассортимента
      a(class="btn btn-outline-primary selection-glasses__btn" href="#") Подобрать

  .selection-glasses__item
    .selection-glasses__img-wrapper
      .selection-glasses__img
