section(class="stocks")

  .stocks__block-header.row.justify-content-between
    <h2 class="stocks__header text-dark">Акции</h2>
    a(href="" class="stocks__all-stocks") Все акции

  .row.justify-content-between
    .stock.stocks__block(style="background-image: url('images/action_1.jpg')")
      .stock__description-block
        <h2 class="stock__header text-white">Скидка 25% на очки DAVIDOFF</h2>
        <p class="stock__text text-white">На все очки DAVIDOFF весенней коллекции</p>
        a(href="#" class="stock-block__link-detail text-white") подробнее

    .stock.stocks__block(style="background-image: url('images/action_2.jpg')")
      .stock__description-block
        <h2 class="stock__header text-white">Акция при покупке детских очков</h2>
        <p class="stock__text text-white">Оправа для очков со скидкой  50%</p>
        a(href="#" class="stock-block__link-detail text-white") подробнее
