section(class="stocks main-section")

  .stocks__header-block
    h2.stocks__header.text-dark Акции
    a(href="" class="stocks__all-stocks-link") Все акции

  .stocks__items-block
    .stock.stocks__block(style="background-image: url('images/action_1.jpg')")
      .stock__description-block
        h2.stock__header.text-white Скидка 25% на очки DAVIDOFF
        p.stock__text.text-white На все очки DAVIDOFF весенней коллекции
        a(href="#" class="stock-block__link-detail text-white") подробнее

    .stock.stocks__block(style="background-image: url('images/action_2.jpg')")
      .stock__description-block
        h2.stock__header.text-white Акция при покупке детских очков
        p.stock__text.text-white Оправа для очков со скидкой 50%
        a(href="#" class="stock-block__link-detail text-white") подробнее
